/* Body */
body{
    background-color: #fafafa;
}

/* Text */
.text-color{
    color: #131667;
}

/* Background */
.bg-dual{
    background-color: #f0f0f0;
}

/* Profile and Password Generator */
.grid{
    grid-template-columns: 2.5fr 1.5fr;
}

@media all and (max-width: 767px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

input[type=text], input[type=email], input[type=password]{
    background-color: #fafafa;
    border: none;
    border-bottom: 2px solid #d0d0d0;
    border-radius: 0;
    transition-duration: 0.2s;
}

input:focus{
    border-bottom: 2px solid #a0a0a0;
}

input[type=range]:focus{
    border-bottom: none;
}

hr{
    border: 1px solid #d0d0d0;
}

/* Passwords */
.password{
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Sign Up */
.signup{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 600px) {
    .signup{
        width: 100%;
    }
}